<!-- The name starts and has _ because is a partial file
and not a file rendered from the server -->
<label for="name">Name</label>
<!-- The text we get from author.name is outputed as html  -->
<input id="name" type="text" name="name" value="<%=author.name %>">